.footerBgColor {
  background: #db881c;
}

.form-group label {
  color: #d78520;
  font-size: 1.3rem;
  font-family: "Markazi Text", serif;
}

.btn {
  font-family: "Markazi Text", serif;
  font-size: 1.5rem !important;
}

.wrapper {
  background: #d78520;
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#db881c),
    to(#1416bd)
  );
  background: linear-gradient(to bottom right, #0a23c3 0%, #db881c 100%);
  position: relative;

  left: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.wrapper.form-success .container h1 {
  -webkit-transform: translateY(85px);
  transform: translateY(85px);
}
.list-inline-item {
  color:#1416bd;
}
